@import "reset.css";
@import "fonts.scss";

html {
  background-color: #fbfbfc;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "CircularXXWeb-Regular", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont;
  font-size: 16px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .content {
    width: 680px;
  }
}

.logo {
  display: block;
  margin: 0 auto 42px auto;
}

.searchBox {
  position: relative;
  width: 100%;
  margin: 0 auto 48px auto;
  width: 100%;

  input {
    border: 2px solid #e5e8eb;
    border-radius: 8px;
    font-family: inherit;
    font-size: 20px;
    padding: 16px;
    width: 100%;

    &::placeholder {
      color: #6f7a86;
    }

    &:focus {
      outline: 0;
    }
  }

  button {
    background: none;
    border: 0;
    opacity: 0;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: #888;
    }
  }

  .suggestions {
    background: #fff;
    border: 2px solid #e6e8eb;
    border-radius: 10px;
    margin-top: -1px;
    position: absolute;
    width: 100%;
    z-index: 100;

    li {
      padding: 10px;

      &:hover {
        background: #f8f8f8;
      }

      &.selected {
        background: #eee;
      }
    }
  }
}

.topSitesList {
  color: #1c1e29;
  display: flex;
  justify-content: space-between;
  height: 128px;

  .topSitesItem {
    color: inherit;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    &:hover {
      .favicon {
        border: 2px solid #bfc8d0;
      }
    }

    .favicon {
      border: 1px solid #e5e8eb;
      background: #fff;
      border-radius: 10px;
      height: 96px;
      margin: 0 auto;
      position: relative;
      width: 96px;

      img {
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .title {
      font-size: 15px;
      line-height: 145%;
      margin-top: 8px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
