// Copy the fonts here that are in use
@font-face {
  font-family: "CircularXXWeb-Regular";
  src: url("../fonts/Circular/CircularXXWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Regular";
  src: url("../fonts/Circular/CircularXXWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("../fonts/Circular/CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("../fonts/Circular/CircularXXWeb-Bold.woff2") format("woff2");
}
